body {
	background-color: #223645;
	color:#DCDCDC;
	font-family:Georgia, "Times New Roman", Times, serif;
	/* font-size:100%;
	text-align:center; */
	scrollbar-arrow-color:#000059;
	scrollbar-track-color:#c1cae3;
	scrollbar-shadow-color:#000059;
	scrollbar-face-color:#c1cae3;
	scrollbar-highlight-color:#c1cae3;
	scrollbar-darkshadow-color:#000059;
	scrollbar-3dlight-color:#c1cae3;
}

#page{
	margin-right:auto;
	margin-left:auto;
	margin-top:10px;
	padding:0px;
}

#header {
	border: 1px solid #FFF5EF;
}
#header H1{
	text-align: center;
}

#blocmenu {
	border-right: 1px solid #FFF5EF;
	margin-top:5px;
	float: left;
	width: 15%;
}

#blocmenu ul {
	list-style-type:none;
	margin:0px;
	padding:0px 0px 0px 3px;
	display:block;
}

#blocmenu li{
	margin:0px 0px 0px 0px;
}

	.menu a {
		color: red;
		padding:0px 0px 0px 15px;
		text-decoration: none;
	}
	.menu a:hover{
		text-decoration:none;
	}


#content {
	float: right;
	width: 83%;
/*	border: 1px dashed red;*/
	margin-top: 5px;
}

	.article {
		/*border: 1px solid green;*/
		border-left: 4px solid green;
		margin: 5px 5px 5px 5px;
	}

	.article p {
		text-align: left;
	}

  .article a {
		text-align: right;
		font-size:60%;
		color: yellow;
	}


h1 {
	background-image: url('../Images/fond_titre.png');
	background-repeat:repeat-x;
	color: #B83A1B;
	text-align: Left;
	font-weight:bold;
	font-style:italic;
	text-decoration:underline;
}

br{
	color: green;
}
